
 /* linear-gradient(to bottom, rgba(19, 71, 160, 0.06), rgba(0, 0, 0, 0.2)) */
.hero-bg-one {
    background: url(../../images/pic-11.png) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-bg-two {
    background: url(../../images/pic-22.png) no-repeat;;
    background-size: cover;
    background-position: center;
}

.hero-bg-three {
    background:url(../../images/pic-44.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-bg-four {
    background:url(../../images/pic-55.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/* .hero-bg-five {
    background: linear-gradient(to bottom, rgba(19, 71, 160, 0.06), rgba(0, 0, 0, 0.2)),url(../../images/pic-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
} */

.hero-bg {
    height: 100vh;
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
    color: #fff;
    flex-direction: column;
}

.slider-content {
    padding-top: 200px;
    width: 60%;
}

.slider-content h1 {
    font-size: 56px;
}

.slider-content p {
    font-size: 18px;
    width: 75%;
}

.brand-name {
    padding: 30px;
}

.brand-name h1 {
    color: blue;
    font-size: 30px;
}

.brand-name span {
    color: #000
}

.why-section {
    /* background: linear-gradient(left ), url(../../images/pic-5.jpg) no-repeat; */
    background: url(../../images/IS3.png) no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
}

.why-section h1 {
    color:#fff;
    font-weight: 900;
    font-size: 48px;
    /* text-align: center; */
    padding-top: 100px;
}

.why-section img {
    width: 100px
}

.lower-row {
    width: 70%;
    margin: 0 auto;
}
.reason-box {
    text-align: center;
    margin: 0 auto;
}


.reason-box .icon-box svg {
    font-size: 70px;
    color: #2ebae1;
}

.reason-box h3 {
    font-size: 18px;
    padding: 20px 0 0px 0;
    font-weight: 600;
}

.reason-box p {
    font-size: 16px;
}

#track-records h2 {
    padding: 60px 20px 30px 20px;
}

.counts {
   padding: 20px;
    background: #F5F8FF;
}

.count-number {
    color: #002B8E;
    font-size: 36px;
    margin-right: 10px;
    font-weight: 700;
}

.counts p {
    font-size: 18px;
    font-weight: 400;
    color: #000;
}


/* .count-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    width: 150px;
    height: 150px;
    margin: 0 auto;
} */


.school-program {
    background: linear-gradient(to bottom, rgba(19, 70, 160, 0.5), rgba(0, 0, 0, 0.123));
    /* min-height: 400px; */
    /* padding: 20px; */
    border-radius: 8px;
    perspective: 1000px;
    cursor: pointer;
    height: 100%;
}

.school-program-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.school-program:hover .school-program-inner{
    transform: rotateY(180deg);
}

.card-back {
    background: #2ebae1;
    color: #fff;
    transform: rotateY(180deg);
    padding: 20px;
}

.school-program .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    top: 0;
}

.card-front h3 {
    padding: 15px;
}

.card-back h3 {
    padding-top: 70px;
    color: #fff;
    font-weight: 900;
}

/* .partners {
    width: 50%;
    margin: 0 auto;
} */

.partner{
    text-align: center;
}


@media (max-width: 428px) {
    .why-section h1 {
        padding-top: 100px;
        color: #fff;
    }

    /* .reason-box .icon-box {
        width: 130px;
        height: 130px;
    } */

    .reason-box h3 {
        font-size: 20px;
    }

    .partners {
        width: 100%;
    }

    .partner {
        width: 100%;
    }

    .slider-content {
        width: 100%;
    }

    .slider-content h1 {
        font-size: 30px;
    }

    .slider-content p {
        width: 100%;
    }

    .lower-row {
        width: 100%;
    }
}

.scheme-list {
    list-style: none;
    padding-left: 0;
}

.section-heading{
    font-size: 40px;
    font-weight: 700;
}

.partner-slider {
    background: #bbe3ef;
}


@media (max-width: 769px) {
    .slider-content {
        width: 80%;
        padding-top: 150px;
    }

    .slider-content h1 {
        font-size: 35px;
    }

    .section-heading {
        font-size: 30px;
    }
}