.navbar {
    background: #fff !important;
}

.navbar .nav-link {
    font-weight: 500;
    margin-left: 10px;
    /* color: #fff !important; */
    color: #000;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}

.topbar_inner {
    /* background-color: rgba(28, 25, 25, 0.7) !important; */
    box-shadow: 0 0 30px rgb(0 0 0 / 10%)   !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #002B8E !important;
    font-weight: 900;
}

.top-nav a {
    font-size: 14px;
    display: inline-block;
    position: relative;
}

.top-nav a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #002B8E;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .top-nav a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.top-nav svg {
    font-weight: 600 !important;
}

@media (max-width: 428px) {
    /* .navbar {
        background-color: rgba(28, 25, 25, 0.7) !important;
        box-shadow: 0 0 30px rgb(0 0 0 / 10%)   !important;
    } */
    .topbar_inner {
        background-color: rgba(28, 25, 25, 0.7) !important;
        box-shadow: 0 0 30px rgb(0 0 0 / 10%)   !important;
    }
}

.navbar-light .navbar-toggler {
    color: #000 !important;
    border-color: #000 !important;
}

.navbar-brand img {
    width: 200px !important;
}

@media (max-width: 427px) {
    .navbar .nav-link {
        margin-left: 0px !important;
    }

    .section-heading {
        font-size: 30px;
    }
}