footer {
    /* background: #C2D4FF; */
    background-color: rgba(0,45,143,0.95);
    color: #fff;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #5CADE6 !important;
}

footer ul {
    list-style: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 10px;
}

.top-section {
    border-bottom: 1px solid #fff;
}

.btn-primary {
    background: #002B8E !important;
    border: 1px solid #002B8E !important;
}

.text-primary {
    color: #002B8E !important;
}

footer .section-title {
    /* color: #002B8E !important; */
    color: #5CADE6;
    font-weight: 900;
}

.contact-heading {
    width: 20%;
}

.contact-info {
    width: 80%;
}